* {
    margin: 0;
}

.container{
    display: block;
    background-color: aqua;
    padding: 5px;
}

.container div{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: beige;
}

/*FLEX*/
.container-flex {
    display: flex;
    background-color: coral;
    padding: 5px;
    justify-content: flex-start; /*flex-start: hará que los elementos comiencen desde el principio*/ /*center: centra el contenido*/
    /*para cambiar de fila a columna*/
    flex-direction: column;
    width: 100%;
    height: 250px;
    flex-wrap: wrap; /*por defecto viene no-wrap, significa que si el tamaño supera el tamaño del contenedor, entonces se achica*/
    align-items: center; /*flex-end, flex-start*/

}

.container-flex div{
    margin: 2px;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
    text-align: center;
}

.flex-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*media query, sirve para cambiar estilos en determinads resoluciones*/
@media screen and (max-width: 600px){
    .container-flex {
        flex-direction: column
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    height: 650px;
    display: flex;
    justify-content: space-evenly; /*space-around, space-between, space-evenly*/
    padding: 10px;
    align-items: center;
}

.context-text{
    padding: 5px;
    margin: 10px;
}

section {
    height: 650px;
    display: flex;
}

section img {
    width: 40%;
}

/*scrolling*/

html {
    scroll-behavior: smooth; /*para que sea más suave*/
}

/*aplico los colores: webgradients.com*/
section:first-child {
background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

section:nth-child(2){
    background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}

section:last-child{
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
/*cambio para que se vea como un boton*/
section a {
    display: inline-block;
    width: 100px;
    height: 30px;
    background-color: rgb(116, 3, 157);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    line-height: 27px;
    padding: 5px;
}

section a:hover {
    font-weight: bolder;
}

section a:active {
    opacity: 0.5;
}
@media screen and (max-width: 1000px){
    section {
        flex-direction: column-reverse;
        align-items: center;
    }
}